/* .container {
    display: grid;
        grid-template-columns: 1fr 1fr;
} */

.howitworks{
    margin-top: 0%;
}

.pee{
    font-size: 18px;
}

.howitworks__cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;

}

.howitworks_left{
    border: 2px solid;
    border-color: #D9D9D9;
    padding: 3rem 2rem;
    border-radius: 3rem;

    
}

.howitworks_img{
    border-radius: 2rem;
    overflow: hidden;
}

.howitworks_htwo{
    font-weight: 400;
    font-size: 38px;
}

.howitworks_links{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.howitworks_button{
    width: 170px;
    height: 30px;
    border-radius: 1.5rem;
}

.linqhowitworks{
    
   width: 130px;
   height: 35px;
    border-radius: 2rem;
    background: #A8d640;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    border-style: solid;

}
        
    

.howitworks_a{
    text-decoration: none;
    margin-left: 20px;
    color: #232323;
}

.howitworks_right {
    border: 2px solid;
    padding: 3rem 2rem;
    border-radius: 3rem;
    color: #D9D9D9;
    background: #000000;


}

.pee2{
    margin-top: 0px;
    font-size: 20px;
}

.line{
    width: 100%;
    margin-top: 2px;
}


.howitworks_linkstwo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
}

.howitworks_buttontwo{
    width: 170px;
    height: 30px;
    border-radius: 1.5rem;
    color: white;
    background-color: #000000;
    border: 2px solid;
    border-color: #D9D9D9;
}

.linqhowitworkstwo{
    width: 140px;
    height: 35px;
    border-radius: 2rem;
    background: #A8d640;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    border-color: #000000;
    padding-left: 10px;

}

.howitworks_atwo{
    text-decoration: none;
    margin-left: 20px;
    color: #232323;
}

.btn__icontwo{
    color: #000000;
    width: 30px;
    height: 50px;
    margin-right: 10px;
}
